# Example environment variables for Droid Factory
VITE_PORT=1977
VITE_PROJECT_TITLE=Droid Factory Movies

# VITE_OMDB_API_KEY API Key for email account (rate limit of 1000 requests per day)
VITE_OMDB_API_KEY=your_omdb_api_key_here
VITE_SWAPI_GRAPHQL_URL=https://swapi-graphql.netlify.app/graphql

# Optional: override API base URLs
VITE_OMDB_API_URL=https://www.omdbapi.com/
VITE_SW_VISUAL_GUIDE_BASE=https://starwars-visualguide.com/assets/img

